<h1>Teste técnico BDMG</h1>

<div>Para começar leia atentamente as instruções a seguir:</div>

<ol>
<li>Primeiramente, crie um novo componente/serviço nomeado "teste". Para isso crie uma nova pasta no menu à esquerda, clique com o botão direito do mouse e clique em Angular Generator</li><br>

<li>Seguindo o padrão MVC, faça a requisição GET da API: https://viacep.com.br/ws/30160907/json/</li><br>

<li>Com o dado objeto, construa um formulário em que todos os campos possam ser editados, exceto: ibge e siafi. </li><br>

<li>Construa o método/função que salve as alterações no localstorage;</li>
</ol> 


<div>Dúvidas? Entre em contato com klauber.lage@montreal.com.br</div>

<hr>

